header {
    background: url("/assets/about-stars-bg.jpg");
    background-size: cover ;
    background-position: center;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    margin: 0;
    color: #fff;
}